@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500..800&display=swap');
@import "tailwindcss";

@theme {
  --color-green-deep: #163A34;
  --color-green-muted: #395852;
  --color-slate-dark: #293241;
  --color-orange-muted: #fe9f6b;
  --color-offwhite-warm: #f6f5f1;
  --color-mint-light: #d0dcd9;
}

body {
  background-color: var(--color-offwhite-warm);
  font-family: 'Nunito', sans-serif;
}

.muted{
  position: relative;
}

.muted::after{
  content: '';
  z-index: -1;
  position: absolute;
  bottom: 0.15em;
  left: 0;
  height: 0.5em;
  width: 100%;
  border-radius: 0.5rem;
  background-color: var(--color-orange-muted);
  opacity: 0.5;
}

h1{
  font-weight: 800;
  font-size: clamp(3rem, 6vw, 5rem);
  letter-spacing: -0.1rem;
  line-height: 1.25;
}

h2{
  font-size: x-large;
  font-size: clamp(2rem, 4vw, 3.5rem);
  font-weight: 800;
  color: var(--color-green-deep);
  letter-spacing: -0.025em;
  line-height: 1.25;
}

h3{
  font-size: clamp(1.5rem, 3vw, 2rem);
  color: var(--color-green-deep);
  font-weight: 700;
}

p{
  color: var(--color-green-muted);
}

nav a{
  position: relative;
}

nav a::after{
  content: '';
  position: absolute;
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 3px;
  background-color: var(--color-orange-muted);
  border-radius: 1rem;
  transition: width 0.25s ease;
}

nav a:hover::after,
nav a.active::after{
  width: 100%;
}

.section-padding{
  @apply px-4 md:px-8 lg:px-12 xl:px-24 pt-8 md:pt-16 lg:pt-24 w-full overflow-x-hidden max-w-[1440px] mx-auto;
}
